body{
  background-color: #EFEDE9 ;
}
h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 96px;
  font-family: 'Playfair Display', serif;
  line-height: 127.97px;
  font-weight: 700;
}

h2 {
  font-family: 'Poppins', sans-serif;
  line-height: 54px;
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 36px;
  font-style: normal;
}